{% extends 'blog/base.html' %}

{% block content %}
  <article class="post-detail">
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>

    {# optional: show tags #}
    <p>
      <strong>Tags:</strong>
      {% for tag in post.tags.all %}
        <a href="{% url 'posts-by-tag' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
      {% empty %}
        None
      {% endfor %}
    </p>

    {# edit / delete links visible only to author #}
    {% if user == post.author %}
      <p>
        <a href="{% url 'post-update' post.pk %}">Edit</a> |
        <a href="{% url 'post-delete' post.pk %}">Delete</a>
      </p>
    {% endif %}
  </article>
{% endblock %}

